@import "compass/css3";

body{
	font-size: %100;
	width: 99%;
}
p{
	font-family: Trebuchet MS;
	font-size: .875em;
}
h1{
	font-family: Grill Sans, Arial;
	font-size: 1.6em;
}

.navigation {
  list-style: none;
  margin: 0; 
  width: auto;
  
  background: deepskyblue;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #000000;
}

@media all and (max-width: 100%) {
  .navigation {
    justify-content: space-around;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}



#main{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
}
#lstory{
	float: left;
	height: 250px;
	width: 70%;
	padding: 1em 2em 1em 2em;
	margin-top: 10px;
}
#footer{
	float: down;
}


.story{
	background-color: #33bbee;
-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.story:hover{
	background-color: #007a99;
	cursor: pointer;
}
