body{
	font-size: %100;
}
p{
	font-family: Trebuchet MS;
	font-size: .875em;
}
h1{
	font-family: Grill Sans, Arial;
	font-size: 1.6em;
}
#main{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;


}
#story{
	margin-left: 10%;
	margin-right: 50%;
	margin-top: 55;


}
#sideinfo{
	vertical-align: middle;

}


.story{
	border: 5px solid;
	border-radius: 5px;
	background-color: #33d6ff;
-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.story:hover{
	background-color: #007a99;
	cursor: pointer;
}
