body{
	font-size: %100;
	width: 100%;
}
p{
	font-family: Trebuchet MS;
	font-size: .875em;
}
h1{
	font-family: Grill Sans, Arial;
	font-size: 1.6em;
}
#main{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
}
#rsideinto{
	float:right;
	max-width: 10em;
	max-height: 250px;
	margin-left: 5px;
}
#lstory{
	float: left;
	height: 250px;
	width: 100%-10em;
	padding: 1em 2em 1em 2em;
	margin-top: 10px;
}
#footer{
	float: down;
}
.flexyboxy{
	display: -webkit-flex;
	-webkit-flex-direction: column;
	align-items: stretch;
}
.contentbox{
	-webkit-flex-basis: auto;
}


.story{
	border: 5px solid;
	border-radius: 5px;
	background-color: #33d6ff;
-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.story:hover{
	background-color: #007a99;
	cursor: pointer;
}
